*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
}

:root{
    --color-primario: #005F99;
    --color-secundario: #00EAD3;
    --color-terciario: #E5E5E5;
}

header {
    background-color: var(--color-primario);
    max-height: 100px;
}
.navegacion {
    width: 1000px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo img {
    height: 100px;
    width: auto;
}
.enlaces {
    height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
}

ul, li{
    list-style: none;
    display: inline-block;
}
ul li {
    margin: 30px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

/* CONTENEDOR DE SECCIONES */
.container-global {
    width: auto;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* SECCION DE BIENVENIDA */

/* SECCIÓN 1 */
.seccion-bienvenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    width: 1000px;
    max-width: 1000px;
    max-height: 400px;

}
.texto-bienvenida {
    background-color: var(--color-primario);
    color: #fff;
    width: 50%;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.texto-bienvenida h2 {
    text-transform: uppercase;
    font-size: 48px;
    padding: 20px;
}
.texto-bienvenida p {
    font-size: 25px;
}
.img-bienvenida {
    width: 500px;
    max-width: 500px;
    height: 400px;
    max-height: 400px;
}

/* SECCION SERVICIOS */

.seccion.servicios {
    height: auto;
}
.titulo-seccion-servicios {
    width: auto;
    text-align: center;
    height: 34px;
    margin:20px;
    color: var(--color-primario)
}
.contenedor-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contenedor-servicios div {
    width: 405px;
    height: 70px;
    background-color: var(--color-primario);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #fff;
}
.contenedor-servicios div i {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/*SECCION BANNER */

.seccion-banner {
    max-width: 1000px;
    min-height: 310px;
    background: url(imagenes/banner_agendar_cita.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.seccion-banner h2 {
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}
.seccion-banner a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
/*efecto hover*/
.seccion-banner a:hover {
    background: var(--color-primario);
}

.seccion-banner a i {
    margin-right: 10px;
}

/*SECCION GALERIA */
.seccion-galeria {
    max-width: 1000px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seccion-galeria img {
    height: 150px;
    width: 235px;
}

/*SECCION AGENDA */

.seccion-Agenda {
    height: 500px;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.calendar {
    width: 50%;
    background: var(--color-primario);
    padding: 10px;
    text-align: center;
    color: #fff;
}
.calendar h2 {
    font-size: 20px;
    margin: 10px;
}
.calendar input {
    width: auto;
}

.formulario-contacto {
    color: #fff;
    padding: 10px;
    width: 50%;
    height: 400px;    
    background: rgb(41, 34, 34);
}
.formulario-contacto h2 {
    text-align: center;
}
.seccion-tarjeta {
    background: var(--color-terciario);
    height: 200px;
    max-width: 1000px;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.tarjeta-visitanos, .tarjeta-mail {
    width: 300px;
    height: 160px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #000;
}

.tarjeta-visitanos {
    margin-right: 10px;
}
.tarjeta-mail {
    margin-left: 10px;
}
.tarjeta-mail i, .tarjeta-visitanos i {
    color: var(--color-primario);
    margin: 5px;
}
.tarjeta-mail a {
    text-decoration: none;
    color:#000;
}

/* PIE DE PAGINA */
footer {
    height: 300px;
    background-color: var(--color-primario);
    width: 100%;
    max-width: 100%;
}
.contenedor-footer {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
}
.seccion-enlaces {
    border-bottom: 4px solid #fff;
}
.seccion-enlaces a { 
    padding: 8px;
    border-radius: 30px; 
}
.seccion-enlaces a:hover {
    box-shadow: 0px 0px 5px 0px #000;
}
.seccion-metodos-pago {
    margin: 10px;
}
.seccion-metodos-pago img {
    height: 60px;
    width: auto;
    margin: 8px;
}

.seccion-datos-extra {
    margin: 10px;
}
.seccion-datos-extra p {
    margin: 5px;
}
.seccion-datos-extra a{
    color: #fff;
}
