:root{
    --dark-primary-color: #303F9F;
    --light-primary-color: #C5CAE9;


    --color-secundario: #7C4DFF;
    --color-terciario: #E5E5E5;
    
    --primary-color: #2196F3;
    --text-icons: #FFFFFF;
    --acent-color: #7C4DFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    --color-complentario: #F8485E;

    --dark-primary-color-2: #1976D2;
    --primary-color-2: #3F51B5;
    --text-primary-color-2: #FFFFFF;
    --accent-color-2: #7C4DFF;
    --primary-text-color-2: #212121;
    --color-fondo-form-2: #ECEEF8;
    --color-inactive-and-send-2: #F8485E;
    --color-fondo-section-2: #C5CAE9;

    --color-star-review: #FFCE31;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background-color: var(--dark-primary-color);
    height: 10rem;
    width: 100%;
}
.navegacion {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo img {
    margin: 0 1rem;
    height: 10rem;
    width: auto;
}
.enlaces {
    height: 10rem;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
}

ul, li{
    list-style: none;
    display: inline-block;
}
ul li {
    margin: 3rem;
}
ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    padding-bottom: .3rem;
}
ul li a:hover {
    transition: .3s;
    border-bottom: 2px solid var(--color-complentario);    
    font-size: 1.6rem;
}
/* iconos */
.fas, .far {
    font-size: 1.8rem;
    margin-right: .5rem;
}
ul li a:hover{
    color: var(--color-complentario);
}
/* SECCIONES */

/* SECCION BIENVENIDA */
.seccion-bienvenida {
    background-color: var(--dark-primary-color);
    min-height: calc(100vh - 10rem);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contenedor-bienvenida {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100rem;
    height: 70vh;
    /* height seccion 1 solucionado */
}

.texto-bienvenida {
    color: #fff;
    width: 50%;
    min-height: 40rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.texto-bienvenida h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 4.8rem;
    padding: 2rem;
}
.texto-bienvenida p {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--text-icons);
    text-align: left;
}
.img-bienvenida  img{
    width: 50rem;
    max-width: 50rem;
    height: 40rem;
}
.wave, .wave-2 {
    width: 100%;
    height: 30vh;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
/* SECCION SERVICIOS */
.seccion-servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}

.contenedor-padre-servicios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 30vh);    
}
.contenedor-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100rem;
    
    margin-left: auto;
    margin-right: auto;
}
.servicio {
    margin: .5rem;
    width: 23.5rem;
    height: 21rem;
    background: #fff;
    border-radius: .8rem;
    font-family: 'Roboto', sans-serif;
}
.img-servicio {
    height: 15rem;
}
.servicio .img-servicio img {
    border-radius: .8rem .8rem 0 0;
    width: 23.5rem;
    height: auto;
}
.seccion-infomacion-servicio {
    height: 6rem;
    width: 23.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-text);
    border-radius: 0 0 .8rem .8rem;
    color: var(--text-icons);
    background-color: var(--dark-primary-color);
}
.seccion-infomacion-servicio i, .seccion-infomacion-servicio p {
    font-size: 3rem;
}
.seccion-infomacion-servicio i {
    margin: 1rem;
}
.seccion-infomacion-servicio h5 {
    font-size: 1.5rem;
}

/* SECCION BANNER */
.seccion-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    background-color: var(--light-primary-color);
}

.contenedor-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100rem;
    min-height: calc(100vh - 30vh);
    margin-left: auto;
    margin-right: auto;
}

.subseccion-1-eslogan {
    min-width: calc(100rem - 45rem);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.subseccion-1-eslogan p {
    font-size: 2.5rem;
    text-align: center;
}
.enlace-agendar {
    display: flex;
    flex-direction: row-reverse;
}
.enlace-agendar a:hover {
    background-color: var(--color-inactive-and-send-2);
    transition: .3s;
}
.subseccion-1-eslogan a {
    padding: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    background-color:var(--dark-primary-color);
}

.subseccion-1-eslogan p, .subseccion-1-eslogan a, .far {
    color: var(--text-icons);
}

.subseccion-1-eslogan a .far {
    font-size: 2.5rem;
    margin: .5rem;
}
.img-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 43rem;
    height: 48rem;
}
.img-banner img {
    width: 43rem;
    height: 43rem;
}

/* SECCION AGENDAR */
.seccion-agendar {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contenedor-agendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
}
/* TITULOS SECCIONES */
.titulo-seccion-servicios h2, .contenedor-agendar > span, .contenedor-opiniones > h2 {
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--primary-color-2);
    margin: 2rem;
}

/* CONTENEDOR FORMULARIO */
.contenedor-form {
    max-width: 84.5rem;
    height: 34rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
/* img formulario */
.img-banner-form img {
    width: 100%;
    height: auto;
    border-radius: .8rem 0 0 .8rem;
    background-color: var(--primary-color-2);
}

/*seccion formulario */
form {
    border-radius: 0 .8rem .8rem 0;
    background-color: var(--color-fondo-section-2);
    max-height: 34rem;
    width: 33.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}
/* instrucciones */
.form-date > span, .info-client .titulos {
    font-size: 1.4rem;
    color: var(--primary-color-2);
}
/* Color > inputs fecha y hora */
.section-date input, .section-hours select {
    color: var(--primary-color-2);
    font-weight: bold;
}

/* color lista de servicios */
.services-list {
    background-color: var(--primary-color-2);
    color: var(--text-primary-color-2);
}
.services-list option {
    font-size: 1.4rem;
}

/* Estilos select e input formulario */
form input, select {
    border: 0px;
    margin: .4rem 0;
    border-radius: .4rem;
    width: 100%;
    height: 3rem;
}

/* CONTENEDORES DE 1|| FECHA || HORA || SERVICIOS || */
.section-date , .section-hours, .choose-option-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .2rem 0;
}
/*Definicion de tam de contenedores */
.section-date > input, .section-hours select, .services-list {
    width: 14.5rem;
    font-size: 1.4rem;
    height: 2.5rem;
    padding-left: .4rem;
    outline: none;
}
/*eliminar border al presionar inputs */
 input, .section-hours select, .services-list {
    outline: none;
}
/* Color a span de contenedores */
.section-date  span, .section-hours span, .choose-option-section span {
     color: var(--primary-text-color-2);
     font-weight: bold;
     font-size: 1.4rem;
}

/*select */
select {
    outline: none;
    border: 0;
    border-radius: .4rem;
}

/*indicacion form*/
.info-client > span {
    color: var(--primary-color-2);
    margin: .8rem 0;
}

/* placeholder */
::placeholder {
    padding-left: .4rem;
    font-size: 1.4rem;
    color: var(--primary-color-2);
}

/* << BOTON DE ENVIAR >> */
.btn-enviar label input {
    display: inline-block;
    padding: 0 .3rem;
    color: #ffffff;
    height: 3rem;
    background-color: var(--primary-color-2);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Estado hover del btn enviar */
.btn-enviar label input:hover {
    transition: all ease .3s;
    background-color: var(--color-inactive-and-send-2);
}

/* SECCION OPINIONES */
.seccion-opiniones {
    width: 100%;
    height: 100vh;
    background-color: var(--color-fondo-section-2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.contenedor-opiniones {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    height: calc(100vh - 30vh);
}
.contenedor-cards-opiniones {
    padding: 1rem;
    width: 100%;
    /* background-color: green;*/
    display: flex;
    flex-direction: row;
}

/* TARGETA OPINION */
.card-opinion {
    background-color: var(--text-icons);
    border-radius: .8rem;
    width: 36rem;
    height: 20rem;
    margin: .8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* SECCION 1 */
.card-opinion img {
    width: 10rem;
    height: 18rem;
    border-radius: .8rem;
    margin: .8rem;
}
/* SECCION 2 */
.card-opinion .nombre-resenia {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: .8rem .8rem .8rem 0;
    height: calc(100% - 1.6rem);
}
.nombre-resenia h2 {
    font-size: 1.8rem;
    color: var(--text-icons);
    background-color: var(--dark-primary-color);
    text-align: center;
    border-radius: 2rem;
    margin: .8rem 0;
}
.nombre-resenia p {
    font-size: 1.4rem;
    color: var(--primary-text);
    text-align: left;
}
.calificacion {
    margin: .8rem 0;
}
.fa-star {
    color: var(--color-star-review);
    font-size: 1.8rem;
}

.seccion-contacto {
    min-height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contenedor-targetas-contacto {
    min-height: 20rem;
    min-width: 100rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.targeta {
    width: 30.2rem;
    height: 16rem;
    border-radius: .8rem;
    padding: .8rem;
    background-color: var(--color-fondo-section-2);
    color: var(--primary-text);
    margin: .8rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.targeta h2, .fa-map-marker-alt, .fa-envelope {
    color: var(--dark-primary-color);
}
.targeta h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: .8rem 0;
}
.fa-map-marker-alt, .fa-envelope {    
    font-size: 5rem;
    margin: .4rem;
}
.targeta p, .targeta a {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
/* targeta 2 */
.targeta a {
    text-decoration: none;
    color: var(--dark-primary-color);
}

/* ICON POP */
.arrow {
    height: 5rem;
    width: 5rem;
    background-color: var(--dark-primary-color);
    border-radius: 50%;
    cursor: pointer;

    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    right: 2rem;
    bottom: 0;
    margin: 2rem;
    border: solid .2rem var(--color-complentario);

    z-index: 30;
}
.fa-arrow-up {
    color: var(--text-icons);
    font-size: 2.5rem;
}
.arrow:hover {
    transition: .3s;
    height: 5.5rem;
    width: 5.5rem;
}

/* PIE DE PAGINA */
footer {
    height: 30rem;
    background-color: var(--dark-primary-color);
    width: 100%;
}
.contenedor-footer {
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
}
.seccion-enlaces {
    border-bottom: .4rem solid #fff;
}
.seccion-enlaces a { 
    padding: .8rem;
}
.seccion-enlaces a:hover {
    transition: .3s;
    border-bottom: .2rem solid var(--color-complentario);
}
.seccion-metodos-pago {
    margin: 1rem;
}
.seccion-metodos-pago img {
    height: 6rem;
    width: auto;
    margin: .8rem;
}
.seccion-datos-extra {
    margin: 1rem;
}
.seccion-datos-extra p {
    margin: .5rem;
}
.seccion-datos-extra a{
    color: #fff;
}